.container {
  background-color: #565656;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100vw;
  position: relative;
}

.title {
  color: #d2d2d2;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.logo img {
  padding: 1rem;
  width: 5rem;
  height: 5rem;
}

@media (max-width: 768px) {
  .container {
    height: 4.5rem;
    padding: 0 1rem;
  }
  .logo img {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
  }
  .title {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .container {
    height: 4rem;
    padding: 0 .8rem;
  }
  .logo img {
    width: 3rem;
    height: 3rem;
  }
  .title {
    font-size: 1rem;
  }
}
