.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

@media (max-width: 768px) {
  .main {
    padding-top: 6rem;
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 4rem;
  }
}
